{% extends "layout.html" %}
{% block content %}
<style>
    .logo-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }

    #logo {
        margin-top: 40px;
    }

    .card-container {
        margin-top: 50px;
        padding: 20px;
        background-color: #e0f7fa;
        border-radius: 20px;
    }

    .btn-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; /* 우측 여백 추가 */
        /* 상하 여백 추가 */
        padding: 10px 55px;
        border-radius: 10px; /* 모서리 둥글게 */
        width: 100%; /* 가로 길이를 현재의 80%로 설정 */
    }

    .btn-like {
        color: #ff4081;
        margin-left: auto;
    }

    .btn-like {
        background-color: #99ccff;
        color: #ffffff;
        margin-left: auto;
        border: none;
    }

    .btn-like:hover {
        background-color: #76b7f8;
        color: #ffffff;
    }

    .btn-edit, .btn-delete {
        background-color: #f8d7da;
        color: #721c24;
        border: none;
    }

    .btn-edit {
        background-color: #d4edda;
        color: #155724;
    }

    .btn-edit:hover {
        color: #FFFFFF;
    }

    .btn-delete:hover {
        color: #FFFFFF;
    }

    .card {
        margin-bottom: 20px;
        border-radius: 15px;
        width: 80%;
    }

    .card-body {
        display: flex;
        align-items: center;
    }

    .card-text-container {
        flex-grow: 1;
        width: 60%;
        cursor: pointer;
    }

    .card-text {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .pink {
        color: rgb(246, 114, 136);
    }

    .blue {
        color: rgb(55, 124, 209);
    }

    .tag {
        font-size: 0.7rem;
        margin-left: 2px;
        margin-top: 10px;
        /*color: #6c757d;*/
    }

    .btn-edit, .btn-delete {
        display: none;
    }

    .author-visible .btn-edit,
    .author-visible .btn-delete {
        display: inline-block;
    }

    .card-title {
        margin-bottom: 10px;
    }

    .text-muted-author {
        display: block;
        margin-top: 20px;
    }

    .text-muted-createdAt {
        display: block;
        margin-top: 5px;
    }
    .card-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .pagination a, .pagination span {
        display: inline-block;
        padding: 5px 10px;
        margin: 0 2px;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-decoration: none;
        color: #333;
    }

    .pagination a:hover {
        background-color: #f4f4f4;
    }

    .pagination .current {
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
    }

    .title {
        margin-left: 10%;
    }

    .logout-button {
        margin-bottom: 15px;
        margin-right: 10%;
    }

    .card-title {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-subtitle {
        font-size: 14px;
    }

    .control-buttons {
        display: flex;
        gap: 10px;
    }

</style>

<script>
    function likeArticle(btn) {
        const divElement = btn.closest('div');
        const articleId = divElement.getAttribute('data-id');
        $.ajax({
            type: 'POST',
            url: `/articles/likes/${articleId}`,
            success: function (response) {
                if (response['result'] == "success") {
                    window.location.reload()
                } else {
                    alert("서버 오류!")
                }
            }
        })
    }

    function dislikeArticle(btn) {
        const divElement = btn.closest('div');
        const articleId = divElement.getAttribute('data-id');
        $.ajax({
            type: 'DELETE',
            url: `/articles/likes/${articleId}`,
            success: function (response) {
                if (response['result'] == "success") {
                    window.location.reload()
                } else {
                    alert("서버 오류!")
                }
            }
        })
    }

    function deleteArticle(btn) {
        const divElement = btn.closest('div')
        const articleId = divElement.getAttribute('data-id')

        $.ajax({
            type: 'DELETE',
            url: `/articles/${articleId}`,
            success: function (response) {
                if (response['result'] == "success") {
                    alert('게시글이 삭제되었습니다.')
                    window.location.reload()
                } else {
                    alert("서버 오류!")
                }
            }
        })
    }
</script>

<div class="logo-wrapper">
    <a class="title" id="logo" href="{{ url_for('users_blueprint.signin') }}">마음의 편지
        <img class="mindletter" src="{{ url_for('static', filename='mindletter_logo.png') }} " alt="마음의 편지">
    </a>
    <button type="button" class="btn btn-primary logout-button" onclick="window.location.href = `/users/signin`">로그아웃</button>
</div>

<div class="container card-container">
    <div class="btn-wrapper">
        <label style="font-size: 18px;">
            <select name="topic" id="topicSelect" class="form-control select-box"
                    onchange="window.location.href = `/articles?topic=${this.value}`">
                {% if (topic == "all") %}
                <option value="all" selected>전체 보기</option>
                <option value="good">칭찬해요</option>
                <option value="bad">싫어요</option>
                {% endif %}
                {% if (topic == "good") %}
                <option value="all">전체 보기</option>
                <option value="good" selected>칭찬해요</option>
                <option value="bad">싫어요</option>
                {% endif %}
                {% if (topic == "bad") %}
                <option value="all">전체 보기</option>
                <option value="good">칭찬해요</option>
                <option value="bad" selected>싫어요</option>
                {% endif %}
            </select>
        </label>
        <button type="button" class="btn btn-primary" onclick="window.location.href = `/articles/new`">작성하기</button>
    </div>

    <div class="row">
        {% for article in articles %}
        <div class="col-md-6 card-row" data-id="{{ article._id }}">
            <div class="card">
                <div class="card-body" data-id="{{ article._id}}">
                    <div class="card-text-container"
                         onclick="window.location.href = `/articles/${this.parentElement.getAttribute('data-id')}`">
                        <h5 class="card-title">{{ article.title }}<br><span
                                class="tag">(댓글 {{ article.comments|length }})</span><span class="tag">(공감 {{ article.likes|length }})</span>
                        </h5>

                        <h6 class="card-subtitle mb-2 text-muted-author">작성자:
                            {% if (article.is_blind == True) %}
                            익명
                            {% else %}
                            {{ article.author.nickname }}
                            {% endif %}
                        </h6>

                        <p><small class="text-muted-createdAt">작성일: {{ article.created_at }}</small></p>
                    </div>
                    <div class="author-visible" data-id="{{article._id}}">
                        {% if (article.topic == "good") %}
                        <p class="card-text pink">칭찬해요 😍</p>
                        {% else %}
                        <p class="card-text blue">아쉬워요 🥲</p>
                        {% endif %}
                        {% if (userId == article.author._id) %}
                        <div class="control-buttons">
                            <button type="button" class="btn btn-edit"
                                    onclick="window.location.href = `/articles/modify/${this.parentElement.getAttribute('data-id')}`">
                                수정
                            </button>
                            <button type="button" class="btn btn-delete" onclick="deleteArticle(this)">삭제</button>
                        </div>
                        {% elif (userId in article.likes) %}
                        <a class="btn btn-like" onclick="dislikeArticle(this)">공감취소</a>
                        {% else %}
                        <a class="btn btn-like" onclick="likeArticle(this)">공감하기</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if pagination['page'] > 2 %}
        <a href="?page=1&topic={{ topic }}">&laquo;</a>
        {% endif %}
        {% if pagination['page'] > 1 %}
        <a href="?page={{ pagination['page'] - 1 }}&topic={{ topic }}">&lsaquo;</a>
        {% endif %}
        {% for page in range(pagination['start_page'], pagination['end_page'] + 1) %}
        {% if page == pagination['page'] %}
        <span class="current">{{ page }}</span>
        {% else %}
        <a href="?page={{ page }}&topic={{ topic }}">{{ page }}</a>
        {% endif %}
        {% endfor %}
        {% if pagination['page'] < pagination['end_page'] %}
        <a href="?page={{ pagination['page'] + 1 }}&topic={{ topic }}">&rsaquo;</a>
        {% endif %}
        {% if pagination['page'] < pagination['end_page'] - 1 %}
        <a href="?page={{ pagination['end_page'] }}&topic={{ topic }}">&raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
