{% extends "layout.html" %} {% block content %}
<script
  src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"
></script>

<style>
  dt,
  dd,
  h6 {
    display: inline;
  }

  .delete-button {
    border: 0;
    background: none;
    color: red;
    padding: 0;
  }

  #container {
    width: 50%;
    margin: auto;
    margin-top: 5%;
  }

  #info {
    display: inline;
    float: right;
  }

  #commentContainer {
    padding: 20px;
  }

  #comment-list {
    border-top: none;
  }
</style>
<div id="container">
  <h6>{% if article.topic=="good" %}칭찬해요{% else %}싫어요{% endif %}</h6>
  <dl id="info">
    <dt>공감 : </dt>
    <dd>{{article.likes|length}}, </dd>
    <dt>작성자 :</dt>
    {% if article.is_blind %}
    <dd>익명,</dd>
    {% else %}
    <dd>{{article.author}},</dd>
    {% endif %}
    <dt>생성일 :</dt>
    <dd>{{article.created_at}}</dd>
  </dl>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">제목</span>
    <input
      type="text"
      class="form-control"
      aria-label="Username"
      aria-describedby="basic-addon1"
      value="{{article.title}}"
      disabled
    />
  </div>

  <div class="input-group">
    <span class="input-group-text">내용</span>
    <textarea
      class="form-control"
      aria-label="With textarea"
      rows="10"
      disabled
    >
{{article.body}}</textarea
    >
  </div>
  <br />

  <div id="commentContainer" class="card">

    <div id="blind-container" class="form-check">
      <input id="is-blind" class="form-check-input" type="checkbox" value=""
      id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault"> 익명 </label>
    </div>

    <div class="input-group mb-3">
      <textarea
        id="comment"
        class="form-control"
        aria-label="With textarea"
        rows="1"
      ></textarea>
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon2"
        onclick="saveComment()"
      >
        입력
      </button>
    </div>

      <ul id="comment-list" class="list-group">
        <!-- <li class="list-group-item">
          <div class="justify-content-between d-flex">
            <div>익명</div>
            <div>2024.01.01</div>
          </div>
          <div class="justify-content-between d-flex">
            <div>댓글입니다.</div>
            <button type="button" class="btn btn-danger btn-sm delete-button">삭제</button>
          </div>
        </li> -->
      </ul>
    
  </div>

</div>

<script>
  $(document).ready(function () {
    makeCommentList()
  })

  function makeCommentList() {
    // comment list 불러오기

    // temp list
    let commentList = [
          {"_id": 0,
            "article": 1,
            "author": "name",
            "body": "comment...",
            "created_at": "2024-11-11 00:00:00",
            "updated_at": null,
            "deleted_at": null,
            "is_blind": true,
          },
          {"_id": 0,
            "article": 1,
            "author": "name",
            "body": "comment...",
            "created_at": "2024-11-11 00:00:00",
            "updated_at": null,
            "deleted_at": null,
            "is_blind": true,
          },
          {"_id": 0,
            "article": 1,
            "author": "name",
            "body": "comment...",
            "created_at": "2024-11-11 00:00:00",
            "updated_at": null,
            "deleted_at": null,
            "is_blind": true,
          },
        ]

    for(let i=0;i<commentList.length;i++) {
      const comment = commentList[i]
      makeComment(i+1, comment._id, comment.author, comment.created_at, comment.body)
    }
    
  }
  
  function makeComment(index, id, author, date, comment) {
    let temp_html = 
    `<li id="comment-${index}" class="list-group-item">
      <div class="justify-content-between d-flex">
        <div>${author}</div>
        <div>${date}</div>
      </div>
      <div class="justify-content-between d-flex">
        <div>${comment}</div>
        <button type="button" class="btn btn-danger btn-sm delete-button" onclick="deleteComment(${id})">삭제</button>
      </div>
    </li>`

    $('#comment-list').append(temp_html)
  }

  function deleteComment(id) {
    console.log("id", id)
  }

  function saveComment() {
    console.log("article", "{{article._id}}");
    let article = "{{article._id}}";
    let author = "{{author}}";
    let body = $("#comment").val();
    let is_blind = $('#is-blind').is(':checked');
    $.ajax({
      type: "POST",
      url: "/comments",
      headers: {
        "Content-type": "application/json",
        // Accept: "application/json",
      },
      data: JSON.stringify({
        article,
        author,
        body,
        updated_at: null,
        deleted_at: null,
        is_blind,
      }),
      success: function (response) {
        if (response["result"] == "success") {
          alert("댓글 등록 완료!");
          makeCommentList()
        } else {
          alert("서버 오류!");
        }
      },
    });
  }
</script>
{% endblock %}
