{% extends "layout.html" %}
{% block content %}
<style>
  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 20vh;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    min-width: 300px;
    width: 25vw;
  }
  
  .signup {
    margin-bottom: 15px;
  }

  .signup > a {
    text-decoration: underline;
  }

  .signup > a:hover {
    color: #6d6afe;
  }

  .login-button {
    width: 100%;
    height: 35px;
    background-color: #99ccff;
    color: white;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
  }

  .login-button:hover {
    background-color: #76b7f8;
  }
  
  .login-button:focus {
    outline: none;
  }

  .input-container {
    width: 100%;
  }

</style>
<div class="form-wrapper">
  <a class="title" id="logo" href="{{ url_for('users_blueprint.signin') }}">마음의 편지
    <img class="mindletter" src="{{ url_for('static', filename='mindletter_logo.png') }} " alt="마음의 편지">
  </a>
  <div class="signup">
    회원이 아니신가요? <a href="{{ url_for('users_blueprint.signup') }}">회원가입 하기</a>
  </div>
  <form id="loginForm" class="login-form">
      <div class="input-container">
        <label class="label" for="id">아이디</label>
        <input class="input" type="text" id="id" name="id" placeholder="아이디를 입력하세요.">
      </div>
      <div class="input-container">
        <label class="label" for="password">비밀번호</label>
        <input class="input" type="password" id="password" name="password" placeholder="비밀번호를 입력하세요.">
      </div>
      <p class="error-message"></p>
      <button class="login-button" type="submit">로그인</button>
  </form>
</div>
<script>
    $(document).ready(function () {
        $('#loginForm').submit(function (e) {
            e.preventDefault();

            const formData = {
                'id': $('#id').val(),
                'password': $('#password').val()
            };

            // 입력 필드가 비어 있는지 확인
            if(!$('#id').val() || !$('#password').val()) {
              alert("모든 필드를 입력해주세요.");
              return;
            }

            $.ajax({
                type: 'POST',
                url: '/users/signin',
                data: formData,
                success: function (response) {
                    window.location.href = "/articles"
                },
                error: function (xhr, status, error) {
                    const errorMessage = JSON.parse(xhr.responseText).error;
                      if(errorMessage) {
                        alert(errorMessage);
                      } else {
                        console.error('에러', error);
                      } 
                }
            });
        });
    });
</script>

{% endblock %}
