<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article_list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        /* CSS 스타일 시트에 헤더 컴포넌트의 스타일을 지정합니다. */
        header {
            width: 100%;
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            margin: 0;
        }

        body {
            margin: 0;
        }
    </style>
    <script>
      
    </script>
</head>
<body>
<header>
    <h1>Mind Letter</h1>
</header>
{% if isSignUp %}
<p> 회원가입에 성공하였습니다. </p>
<p> 다시 로그인 해 주세요. </p>
{% endif %}

{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}

<form id="loginForm">
    <div class="field">
        <label class="label">아이디</label>
        <div class="control">
            <input class="input" type="text" id="id" name="id" placeholder="아이디를 입력하세요.">
        </div>
    </div>

    <div class="field">
        <label class="label">비밀번호</label>
        <div class="control">
            <input class="input" type="password" id="password" name="password" placeholder="비밀번호를 입력하세요.">
        </div>
    </div>

    <div class="control">
        <button class="button is-primary" type="submit">로그인</button>
    </div>
</form>
<div class="control">
    <button class="button is-primary" onclick="window.location.href='../users/signup'">회원가입</button>
</div>

<script>
    $(document).ready(function () {
        $('#loginForm').submit(function (event) {
            event.preventDefault(); // 폼 기본 동작 막기
            var formData = {
                'id': $('#id').val(),
                'password': $('#password').val()
            };
            // AJAX 요청 보내기
            $.ajax({
                type: 'POST',
                url: '/users/signin',
                data: formData,
                success: function (response) {
                    localStorage.setItem('jwt_token', response.token);

                    window.location.href = "/articles"
                },
                error: function (xhr, status, error) {
                    // 에러 처리
                    console.error('에러:', error);
                }
            });
        });
    });
</script>

{% endblock %}
